.signup{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    gap: 4rem;
    position: relative;
  }
  .signup > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .a-left{
    gap: 2rem;
  }
  .a-left > img{
   width: 4rem;
   height: 4rem;
  }
  .Webname > h1{
    font-size: 3rem;
    background-color: rgb(253, 150, 5);
    background-image: var(linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%) );
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  .Webname>h6{
    font-size: 0.85rem;
  }
  .infoForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .infoInput{
    border: none;
    outline: none;
    background-color:rgba(40, 52, 62, 0.07);
    border-radius: 7px;
    text-align: center;
    flex: 1;
  }
  .infoForm>div{
    display: flex;
    gap: 1rem;
    height: 2.5rem;
    width: 100%;
  }
  
  .infoButton{
    width: 5rem;
    height: 3rem;
    align-self: flex-end;
  }
  .loginForm{
    background-color:  rgba(255, 255, 255, 0.64);
    border-radius: 2rem;
    padding: 3rem;
  }
  .validate{
    color: red;
  }
  .Login{
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  @media (max-width: 760px){
    .signup {
      flex-direction: column;
      gap: 1rem;
    }
  }
  